body
{
    font-family: 'Space Grotesk', Helvetica, Arial, sans-serif;
    color: #333;
    background: #fff;
    font-size: 1rem;
    margin: 0;
}

.menu
{
    width: auto;
    background: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
}
.menu .logo
{
    display: block;
    color: #1E2022;
    text-decoration: none;
    font-size: 1.3rem;
    letter-spacing: 15px;
    padding: 30px 0px 30px 20px;
}

.menu .e1
{
    display: block;
    color: #1E2022;
    font-size: 1rem;
    text-decoration: none;
    transition: all 0.4s linear;
    padding: 0px 0px 0px 20px;
}

.menu .e2
{
    display: block;
    color: #1E2022;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: all 0.4s linear;
    margin: 30px 0px 0px 0px;
    padding: 0px 0px 0px 20px; 
}
.section a:hover
{
    background: #9BA4B5;
}
.main
{
    padding: 20px 30px 0px 270px;
}
.home img
{
    display: block;
    margin: 40px auto 40px auto;
    width: 280px;
}
.home p
{
    font-size: 1.2rem;
}
.home a
{
    text-decoration: none;
    background: #1E2022;
    color: #eee;
    transition: all 0.4s linear;
}
.home a:hover
{
    background: #9BA4B5;
    color: #1E2022;
}
.main h1
{
    font-size: 3.5rem;
    line-height: 1.3em;
    text-align: right;
    margin-top: 100px;
}
.main p
{
    text-align: justify;
}
.main .college_details p
{
    width: 65%;
}
.main .content_education .extra
{
    margin-top: 30px;
    padding-left: 19px;
    text-align: justify;
}
.main .content_education img
{
    display: block;
    width: 400px;
    border-radius: 5%;
    margin: 40px auto 0 auto;
}
.main .content_achievements ul
{
    padding-left: 19px;
}
.main .content_achievements p
{
    font-size: 0.8rem;
    margin: 15px 0 0 0;
    text-decoration: none;
}
.main .content_achievements img
{
    display: block;
    width: 400px;
    border-radius: 5%;
    margin: 15px auto 40px auto;
}
.main .content_works img
{
    display: block;
    width: 400px;
    border-radius: 5%;
    margin: 50px auto;
}
.main .content_works .container
{
    text-align: center;
    margin: 50px auto;
 
}
.main .content_works .container img
{
    display: inline;
    margin: 0;
}
.main .content_socials .linkedin
{
    display: flex;
}
.main .content_socials .github
{
    display: flex;
}
.main .content_socials .instagram
{
    display: flex;
}
.main .content_socials img
{
    width: 30px;
    margin: 0px 20px 20px 0px;
}
.main .content_socials a
{
    text-decoration: none;
    color: #1E2022;
}
.footer
{
    background: #1E2022;
    color: #F1F6F9;
    padding: 5px 20px 5px 300px;
    margin-top: 5rem;
}
.footer p
{
    text-align: right;
}

@media only screen and (max-width: 767px) 
{
    body
    {
        font-family: 'Space Grotesk', Helvetica, Arial, sans-serif;
        color: #333;
        background: #fff;
        margin: 0;
    }
    .vertical_menu
    {
        width: 100%;
        height: fit-content;
        background: #fff;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
    }
    .vertical_menu .logo
    {
        color: #1E2022;
        text-decoration: none;
        font-size: 1rem;
        padding: 20px 0px 10px 10px;
        letter-spacing: 10px;
    }
    .section
    {
        padding: 0px 0px 15px 10px;
    }
    .vertical_menu .e1
    {
        display: inline;
        color: #1E2022;
        font-size: 0.8rem;
        text-decoration: none;
        transition: all 0.4s linear;
        padding: 0;
        margin-right: 4px;
    }
    .vertical_menu .e2
    {
        display: inline;
        color: #1E2022;
        text-decoration: none;
        font-weight: bold;
        font-size: 0.8rem;
        padding: 0;
    }
    .section a:hover
    {
        background: #9BA4B5;
    }
    h1
    {
        font-size: 1.5rem;
    }
    .main
    {
        padding: 80px 15px 0px 10px;
        font-size: 1rem;
    }
    .footer
    {
        background: #212A3E;
        color: #F1F6F9;
        padding: 20px 0px 20px 0px;
        text-align: center;
        margin-top: 0.6rem;
        font-size: 1rem;
    }
}
